<form action="/filess/<%= user._id %>" method="POST" enctype="multipart/form-data">
    <label for="">Image: </label>
    <input type="file" name="imgUrl" accept="image/*" required />
    <button type="submit" class="btn btn-primary">Add files</button>
</form>