<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width", initial-scale="1">
    <title>To Do List</title>
    <link rel="stylesheet" href="/public/stylesheets/interviews.css">
</head>
<body>
    <div class="container">
        <div class="to-do app">
            <h2>Tasks</h2>
            <a href="/add-todo">Add a new todo</a>
            <ul>
                <% todos.forEach(todo => { %>
                    <%= todo.name %> 
            <%}); %>
            </ul>
    </div>
    </div>
</body>
</html>